body {
  background: #000;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1500px;
}
.rong_qi {
  width: 1190px;
  height: 530px;
  transform-style: preserve-3d;
  perspective: 1500px;
  position: absolute;
  top: 60px;
  left: 95px;
  z-index: 1;
}
.big_rong_qi {
  width: 1250px;
  height: 530px;
  transform-style: preserve-3d;
  perspective: 1500px;
  position: absolute;
  top: 60px;
  left: 62px;
}
.div1,
.div2 {
  width: 60px;
  height: 80px;
  background: rgba(0, 127, 127, 0.698039);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  border-radius: 5px;
  position: absolute;
  transition: all 4s ease-in-out;
  transform-style: preserve-3d;
  perspective: 150px;
  transform-origin: 50% 0;
  z-index: 999;
}
.btn_y {
  display: block;
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 20px;
  background: rgba(0, 127, 127, 0.698039);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  margin: 0 auto;
}
.rong_qi1,
.rong_qi2,
.rong_qi3,
.rong_qi4,
.rong_qi5,
.rong_qi6 {
  position: absolute;
}
.rong_qi1 {
  left: 500px;
  top: 200px;
  transform: rotateX(-90deg);
}
.rong_qi2 {
  left: 500px;
  top: 474px;
  transform: rotateX(-90deg);
}
.rong_qi3 {
  left: 500px;
  top: 200px;
  transform: rotateY(90deg);
}
.rong_qi4 {
  left: 772px;
  top: 200px;
  transform: rotateY(90deg);
}
.rong_qi5 {
  left: 500px;
  top: 200px;
  transform: translateZ(0);
}
.rong_qi6 {
  left: 500px;
  top: 200px;
  transform: translateZ(-273px);
}
.shi_pin {
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
}
.p_biaoqian {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.div1 img {
  width: 270px;
  border-radius: 5px;
  position: absolute;
}
.my_box_a_i {
  opacity: .6;
  width: 16px;
  height: 16px;
  vertical-align: -4px;
  display: block;
  background: url("../images/icon_sprite.png") no-repeat;
  margin: 50% auto 0;
}
.my_box_a_fore1 {
  background-position: -60px -20px;
}
.my_box_a_fore2 {
  background-position: -20px -20px;
}
.my_box_a_fore3 {
  background-position: -40px -240px;
}
.my_box_a_fore4 {
  background-position: -100px -20px;
}
.my_box_a_fore5 {
  background-position: -40px -300px;
}
.shanchu_box,
.shanchu_box1 {
  position: fixed;
  z-index: 9999;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  left: 50%;
  margin-left: -150px;
  top: 100px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.shanchu_box1 {
  height: 356px;
}
.shanchu_box p,
.shanchu_box1 p {
  text-align: center;
}
.shanchu_txt,
.shanchu_txt1,
.shanchu_txt2,
.shanchu_txt3 {
  border: 1px solid #ccc;
  background: none;
  border-radius: 5px;
  margin: 20px 20px;
  height: 30px;
  color: #fff;
  text-align: center;
}
.shanchu_span,
.shanchu_span1 {
  display: block;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
.shanchu_span1 {
  margin-top: 0;
}
.shanchu_btn,
.shanchu_btn1 {
  float: right;
  margin-right: 20px;
  background: rgba(0, 127, 127, 0.698039);
  border: 1px solid rgba(127, 255, 255, 0.25);
  text-align: center;
  width: 50px;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  border-radius: 5px;
}
.shanchu_btn_g,
.shanchu_btn_g1 {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}
