body {
  background: #101113;
}
.login {
  width: 100%;
  height: 50px;
}
.login-inner {
  width: 1050px;
  box-sizing: border-box;
  padding: 0 0.5rem;
  margin: 0 auto;
}
.logo {
  float: left;
  width: 100px;
  height: 50px;
}
.logo h1 {
  height: 50px;
  background: url("../images/logo.png") no-repeat;
  background-size: 100px;
}
@font-face {
  font-family: 'iconfont';
  /* project id??"188302" */
  src: url('//at.alicdn.com/t/font_1r9b42dqkixdpldi.eot');
  src: url('//at.alicdn.com/t/font_1r9b42dqkixdpldi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1r9b42dqkixdpldi.woff') format('woff'), url('//at.alicdn.com/t/font_1r9b42dqkixdpldi.ttf') format('truetype'), url('//at.alicdn.com/t/font_1r9b42dqkixdpldi.svg#iconfont') format('svg');
}
.login-icon {
  font-family: 'iconfont';
}
.login-inner p {
  float: right;
  line-height: 50px;
  font-size: 22px;
  color: #fff;
  margin-left: 22px;
}
.login-inner p a {
  color: #fff;
}
.search {
  float: right;
  margin-left: 20px;
  position: relative;
}
.search-txt {
  width: 200px;
  height: 30px;
  border: 0;
  margin-top: 10px;
  border-radius: 3px;
  padding-left: 30px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
@font-face {
  font-family: 'iconfont';
  /* project id??"188302" */
  src: url('//at.alicdn.com/t/font_q73hx03d9q2awcdi.eot');
  src: url('//at.alicdn.com/t/font_q73hx03d9q2awcdi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_q73hx03d9q2awcdi.woff') format('woff'), url('//at.alicdn.com/t/font_q73hx03d9q2awcdi.ttf') format('truetype'), url('//at.alicdn.com/t/font_q73hx03d9q2awcdi.svg#iconfont') format('svg');
}
.search-icon {
  font-family: 'iconfont';
  position: absolute;
  left: 5px;
  top: 10px;
  font-size: 20px;
  color: #ccc;
}
.nav-inner2 {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 30px;
  top: 55px;
  border: 1px solid #fff;
  display: none;
  border-radius: 10px;
  z-index: 10000;
}
.nav-inner2 div {
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 0 auto 5px;
}
.nav-inner2 .nav-line {
  margin: 15px auto 5px;
}
.nav-inner2-ul {
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.nav-inner2-ul li {
  display: block;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
}
.header {
  width: 100%;
  position: relative;
}
.header:after {
  content: '';
  clear: both;
  height: 110px;
  width: 100%;
  display: block;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 999;
}
.nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: -1;
}
.nav-inner {
  width: 1200px;
  margin: 0 auto;
  height: 55px;
}
.nav-ul li {
  float: left;
  height: 55px;
  width: 16.6666%;
  line-height: 55px;
  font-size: 20px;
  text-align: center;
}
.nav-ul li a {
  color: #AEAFAF;
}
.nav-ul .nav-a {
  color: #fff;
}
.nav-ul li a:hover {
  color: #fff;
}
.nav-inner .nav-logo {
  display: block;
  text-align: center;
  height: 100%;
}
@font-face {
  font-family: 'iconfont';
  /* project id??"188302" */
  src: url('//at.alicdn.com/t/font_zztrnrosl1ikvs4i.eot');
  src: url('//at.alicdn.com/t/font_zztrnrosl1ikvs4i.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_zztrnrosl1ikvs4i.woff') format('woff'), url('//at.alicdn.com/t/font_zztrnrosl1ikvs4i.ttf') format('truetype'), url('//at.alicdn.com/t/font_zztrnrosl1ikvs4i.svg#iconfont') format('svg');
}
.nav-logo i {
  display: inline-block;
  width: 55px;
  height: 55px;
  font-family: 'iconfont';
  font-size: 35px;
  color: #f1111f;
  margin-top: 10px;
}
.nav-inner2 {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 30px;
  top: 55px;
  border: 1px solid #fff;
  display: none;
  border-radius: 10px;
  z-index: 10000;
}
.nav-inner2 div {
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 0 auto 5px;
}
.nav-inner2 .nav-line {
  margin: 15px auto 5px;
}
.nav-inner2-ul {
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.nav-inner2-ul li {
  display: block;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
}
.Singer_content {
  background: #2F3238;
  padding: 0 0 100px;
  position: relative;
  z-index: 99;
}
.content_inner {
  width: 1200px;
  margin: 0 auto;
}
.singer_bg {
  position: relative;
  width: 100%;
  height: 376px;
  background: url("../images/bg_singer.jpg") 50% 0 repeat-x;
  overflow: hidden;
  margin-bottom: 50px;
}
.sin_bg_inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.sin_bg_inner h2 {
  width: 494px;
  height: 60px;
  line-height: 60px;
  margin: 153px auto 0;
  color: #fff;
  font-size: 48px;
  text-align: center;
}
.span1 {
  width: 1200px;
  float: left;
  min-height: 1px;
}
.span1_title {
  text-align: center;
  margin-bottom: 100px;
}
.span1_title h2 {
  font-size: 48px;
  margin: 0 0 10px 0;
  color: #fff;
  font-weight: normal;
}
.span1_nav {
  width: 270px;
  float: left;
  min-height: 1px;
}
.span1_nav li {
  display: block;
  margin-bottom: 30px;
}
.span1_nav li a {
  color: #7F8289;
  font-size: 16px;
  display: block;
  transition: all 0.5s;
}
.span1_nav li a:hover {
  color: #fff;
}
.span1_nav_title {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 1em;
}
.span1_nav_title .title_a {
  color: #fff;
  font-size: 24px;
}
.span1_right {
  width: 900px;
  float: left;
  min-height: 1px;
  margin-left: 30px;
  position: relative;
}
.span1_right li {
  position: absolute;
  width: 270px;
  height: 189px;
  margin-left: 30px;
  margin-bottom: 30px;
  transform: scale(1, 1);
  transition: all 0.5s;
  overflow: hidden;
}
.span1_right li img {
  width: 100%;
}
.span1_right li .li_item_a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg) scale(0.5);
  opacity: 0;
  transition: all 0.5s;
  cursor: default;
}
.span1_right li .li_item_a .li_item_a_line {
  width: 90%;
  height: 1px;
  position: absolute;
  background: #fff;
  left: 5%;
}
.span1_right li .li_item_a .li_item_a_line1 {
  top: 10%;
}
.span1_right li .li_item_a .li_item_a_line2 {
  bottom: 10%;
}
.span1_right li .li_item_a .li_item_a__line {
  height: 90%;
  width: 1px;
  position: absolute;
  background: #fff;
  top: 5%;
}
.span1_right li .li_item_a .li_item_a__line1 {
  left: 10%;
}
.span1_right li .li_item_a .li_item_a__line2 {
  right: 10%;
}
.span1_right li .li_item_a .li_item_span {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.span1_right li .li_item_a .li_item_span a {
  color: #fff;
}
.span1_right li .li_item_a .li_item_span01 {
  display: block;
  color: #fff;
  text-align: left;
  margin-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  height: 20px;
}
.span1_right li .li_item_a .li_item_span01 a {
  display: block;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.span1_right li:hover .li_item_a {
  transform: rotateY(0deg) scale(1);
  opacity: 1;
}
.span1_right .li_01 {
  transform: scale(0, 0);
}
.span1_right:after {
  content: "";
  display: block;
  height: 657px;
}
.li_item01 {
  left: 0;
  top: 0;
}
.li_item02 {
  left: 300px;
  top: 0;
}
.li_item03 {
  left: 600px;
  top: 0;
}
.li_item04 {
  left: 0;
  top: 219px;
}
.li_item05 {
  left: 300px;
  top: 219px;
}
.li_item06 {
  left: 600px;
  top: 219px;
}
.li_item07 {
  left: 0;
  top: 438px;
}
.li_item08 {
  left: 300px;
  top: 438px;
}
.li_item09 {
  left: 600px;
  top: 438px;
}
.footer {
  width: 100%;
  height: 150px;
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
}
.footer-inner {
  width: 100%;
  text-align: center;
}
.footer-item {
  font-size: 40px;
  color: #fff;
  margin-top: 40px;
}
.footer-item2 {
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
}
